/* fonts */
@font-face {
  font-family: 'CastrolSansCon-Regular';
  src: url('../fonts/CastrolSansCon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@castrol: 'CastrolSansCon-Regular';

/* colors */
// @black      : #000;
@black: #020305;
@black-light: #131313;
@white : #fff;
@green : #01984e;
@green-light: #00b45c;

.green {
  color: @green;
}

.green-bg {
  background: @green;
}

body {
  font-family: @castrol;
  font-size: 16px;
  color: @white;
  background-color: @black;
}

.main-btn {
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 88px;
  // padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  background: @white;
  border-color: transparent;
  border-radius: 50px;
  text-transform: uppercase;
}

.main-btn:hover {
  color: #00B45C;
  background: @white;
}

.main-btn:visited {
  color: @green;
  background-color: @white;
}

.main-btn span {
  height: 16px;
  line-height: 18px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evently {
  justify-content: space-evenly;
}

.align-content-between {
  align-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

button:focus {
  outline: none !important;
}

.list-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.navigation {
  padding-top: 20px;
  padding-bottom: 30px;
}

.position-relative {
  position: relative;
}

.no-active {
  display: none;
}

.main-content {

  .container {
    padding-top: 110px;
    padding-bottom: 170px;
    background-image: url('../img/burger@2x.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }

  h1 {
    font-size: 58px;
    line-height: 70px;
    text-transform: uppercase;

    small {
      font-size: 30px;
      color: @white;

    }
  }

  @media (max-width: 991px) {

    .container {
      background-position: center center;

    }

    h1 {
      text-shadow: 0px 4px 5px black;
    }
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 48px;
      line-height: 56px;

      small {
        font-size: 26px;
      }
    }
  }

  @media (max-width: 550px) {

    .container {
      padding-top: 0;
      padding-bottom: 0;
      background-image: none;
    }

    .main-bg {
      width: auto;
      height: 550px;
      background-image: url('../img/burger@2x.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;
    }

    h1 {
      margin-top: -59px;
    }
  }

  @media (max-width: 425px) {

    margin-top: -25px;

    .main-bg {
      height: 425px;
    }

    h1 {
      font-size: 30px;
      line-height: 36px;

      small {
        font-size: 22px;
      }
    }
  }
}

.feedback {
  margin-top: 80px;

  form {
    position: relative;
  }

  .checkbox {
    position: relative;
  }

  span.error {
    position: absolute;
    font-size: 12px;
    left: 0;
    color: #a20000;
  }

  #emailInputErr {
    bottom: -23px;
  }

  #checkboxErr {
    bottom: -18px;
  }

  form,
  .success {
    max-width: 945px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    background: @black-light;
    border-radius: 12px;
  }

  .success {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .success h2 {
    padding-bottom: 0;
  }

  h2 {
    padding-bottom: 19px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  .form-group * {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-control:hover {
    border-color: #4b4b4b;
  }

  .form-control+label {
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 20px;
    transition: 0.2s ease all;
    color: rgba(255, 255, 255, 0.3);
  }

  .form-control:hover+label,
  .form-control:focus+label {
    color: rgba(255, 255, 255, 0.5);
  }

  .form-control:focus+label,
  .form-control:not(:focus):valid~.floating-label {
    left: 15px;
    top: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    transition: 0.2s ease all;
  }

  .form-control:not(:focus):valid~.floating-label {
    color: rgba(255, 255, 255, 0.3);
  }

  .form-control:focus {
    outline: none;
    border-color: inherit;
    box-shadow: none;
    border-color: #4b4b4b;
  }

  form input {
    height: 57px;
    padding: 32px 15px 8px;
    color: rgba(255, 255, 255, 0.8);
    background: #1b1b1b;
    border: 1px solid #2f2f2f;
    border-radius: 6px;
  }

  .error {
    border-color: #a20000;
  }

  .error+label {
    color: #a20000;
    opacity: 0.5;
  }

  .form-group .btn-primary {
    width: 100%;
    height: 57px;
    background: @green;
    border-color: @green;
  }

  .form-group .btn-primary:disabled {
    opacity: 0.5;
  }

  .form-group .btn-primary:hover:disabled {
    background: @green;
    border-color: @green;
  }

  .form-group .btn-primary:hover {
    background: @green-light;
  }

  .form-group .btn-primary:active {
    background: darken(@green, 7%);
    border-color: darken(@green, 10%);
  }

  .form-group .checkbox label {
    display: flex;
    align-items: center;
    padding: 0;
    color: rgba(255, 255, 255, 0.3);
    text-transform: none;
  }

  .form-group:last-child .row {
    display: flex;
    align-items: center;
  }

  .form-group .checkbox input[type="checkbox"] {
    display: none;
  }

  .form-group .checkbox label:before {
    content: " ";
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: -3px;
    color: @white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }

  .form-group .checkbox input:hover+label:before {
    background-image: linear-gradient(rgba(29, 29, 29, .6), rgba(29, 29, 29, .6)), url('../img/checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .form-group .checkbox input:checked+label:before {
    background-image: url('../img/checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: @green;
    border-color: #01984e;
  }

  .form-group .checkbox input:disabled+label:before {
    background: @green;
    color: @white;
  }

  button:hover {
    background: #00B45C;
  }

  @media (max-width: 767px) {

    margin-top: 40px;

    h2 {
      margin-top: 10px;
      padding-bottom: 10px;
      font-size: 26px;
    }

    .success h2 {
      padding-top: 10px;
    }

    form>.form-group:nth-of-type(1) .row [class^="col-"]:nth-child(1) {
      margin-bottom: 20px;
    }

    form>.form-group:last-of-type .row {
      display: flex;
      flex-direction: column;
    }

    form>.form-group:last-of-type .row [class^="col-"]:nth-child(1) {
      margin-bottom: 20px;
    }

    span.error {
      position: unset;
      display: block;
      margin-top: 4px;
    }

    .form-group .checkbox input:hover+label:before {
      background-image: none;
    }

    .form-group .checkbox input:checked+label:before {
      background-image: url('../img/checkmark.svg');
    }
  }

  @media (max-width: 425px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }

    form,
    .success {
      padding: 26px 15px 15px;
      border-radius: 0;
    }

    .success h2 {
      padding-top: 20px;
    }
  }
}

.footer {
  margin-top: 100px;

  .copyright {
    padding-top: 50px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
  }

  @media (max-width: 425px) {
    margin-top: 60px;

    .copyright {
      padding-top: 30px;
    }
  }
}

// .text-transform-initial {
//   text-transform: initial !important;
// }